@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for entire website */
html {
  scroll-behavior: smooth;
}

.btn {
  @apply px-3 py-1 text-sm rounded-lg bg-indigo-600 text-white hover:bg-indigo-700 transition;
}

/* Cursor for Click to Speak mode */
.click-to-speak-active {
  cursor: help !important;
}

.tts-highlight {
  background-color: rgba(250, 204, 21, 0.25) !important;
  border-radius: 4px;
  padding: 2px 0;
  display: inline;
}

@font-face {
  font-family: "Andika";
  src: url("/public/fonts/Andika-Regular.ttf") format("truetype");
}
